.git/
.github/
.gitignore
.venv/
venv/
env/
.idea/
.vscode/
**db.sqlite3
.DS_Store
Thumbs.db
.env
.python-version
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/
build/
dist/
*.egg-info
celerybeat-schedule
celerybeat.pid
.dockerignore
Dockerfile
docker-compose.yaml
README.md
.env.sample

